<%- include('../_layouts/adminheader') %>

    <h2 class="page-title">Sửa danh mục</h2>
    <a href="/admin/categories" class="btn btn-primary">Tất cả danh mục</a>
    <br><br>

    <form method="post" action="/admin/categories/edit-category/<%= id %>">
        <div class="form-group">
            <label for="">Tên</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
        </div>

        <button class="btn btn-default">Xác nhận</button>
    </form>

    <%- include('../_layouts/adminfooter') %>